@import './base/_all';
@import 'typography';
@import 'card';

body {
    margin: 0;
    padding: 0;
    background-color: $bg__white;
    .wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $pad_xs 0;
        @include bp-large {
            padding: $pad_s 0;
        }
        header {
            padding-top: 32px;
        }
        .section__stacks__cards {
            padding: $pad_xs;
            .container__stack {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 42px;
            }
            .container__btn {
                margin-top: 22px;
                display: flex;
                justify-content: space-evenly;
                margin: $pad_m 0px;
                @include bp-max {
                    margin-top: $pad_m;
                    width: 334px;
                    justify-content: space-between;
                    padding: 0 12px;
                }
            }
        }
        footer {
            padding: $pad_s 0;
            text-align: center;
            @include bp-max {
                display: flex;
                justify-content: end;
            }
        }
    }
}
