/* Variables
 ========================================================================== */

//Primary colours
$text__black: #000;
$bg__white: #fff;
$btn__color: #fdce4b;
$btn__hover: #fcbf2b;

//Grid
$max-width: 1400px;

//Padding
$pad_m: 48px;
$pad_s: 32px;
$pad_xs: 24px;
