/* Variables
 ========================================================================== */

//Primary colours
$c1: #fe3048;
$c2: #000;
$c3: #eee;
$midnight: #2c3e50;
$clouds: #ecf0f1;

//Grid
$max-width: 1400px;
$max-width_m: 720px;
$max-width_n: 328px;

$break-small: 30em;
$break-mid: 40em;
$break-large: 60em;

//Padding Desktop
$pad: 96px;
$pad_xl: 96px;
$pad_l: 64px;
$pad_m: 48px;
$pad_s: 32px;
$pad_xs: 24px;

//Padding Mobile
$pad_m: 64px;
$pad_m_xl: 64px;
$pad_m_l: 48px;
$pad_m_m: 32px;
$pad_m_s: 24px;
$pad_m_xs: 16px;

$block_pad: $pad;
$block_pad_m: $pad_m;

$transition: 0.35s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
